@import './null';

%centredItems {
    display: flex;
    align-items: center;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: #1B2B34;
    color: #fff;
    height: 100vh;


}

.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
}

.game {
    &__header {
        @extend %centredItems;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    &__header button {
        width: 150px;
        height: 50px;
        border-radius: 4px;
        background-color: #fff;
        color: #1B2B34;
        font-size: 24px;
        text-transform: capitalize;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        cursor: pointer;
    }

    &__header button:active {
        scale: .97;
    }

    &__range {
        font-size: 25px;
    }

    &__result {
        position: relative;
    }

    &__result::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fff;
        top: 40px;
        left: 0;
    }

    &__result-cover {
        text-align: center;
    }

    &__result span {
        position: relative;
        z-index: 2;
        font-size: 70px;
        padding: 5px 60px;
        color: #1B2B34;
        background-color: #fff;
        border-radius: 8px;
        font-weight: 700;
    }

    &__summary {
        margin-bottom: 60px;
    }


    &__body-inner {
        display: flex;
        justify-content: space-evenly;
    }

    &__actions {
        @extend %centredItems;
        flex-direction: column;
        
        gap: 20px;
    }

    &__actions input {
        width: 100%;
        height: 90px;
        font-size: 50px;
        color: #ffffff;
        text-align: center;
        font-weight: 800;
        border-radius: 4px;
        padding: 10px 0;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        background-color: transparent;
        border: 3px solid #3E464B;
        border-radius: 4px;
    }

    &__actions input::-webkit-inner-spin-button,
    &__actions input::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &__actions button {
        width: 150px;
        height: 50px;
        border-radius: 4px;
        background-color: #fff;
        color: #1B2B34;
        font-size: 24px;
        text-transform: capitalize;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        cursor: pointer;

    }

    &__actions button:active {
        scale: .97;
    }

    &__info img {
        width: 20px;
        height: auto;
    }

    &__info h3 {
        @extend %centredItems;
        gap: 20px;
        font-size: 24px;
        font-weight: 500;

    }

    &__info .status img {
        display: none;
    }

    &__info h3:not(:last-child) {
        margin-bottom: 10px;
    }

    &__info h3:first-child {
        margin-bottom: 50px;
        /* width: 240px; */
    }

    &__info,
    &__actions {
        width: 250px;
    }

}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 80px;
}

@media (max-width: 670px) {
    .game__body-inner {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 40px;
    }

}

@media (max-width: 440px) {
    .game__range {
        font-size: 18px;
    }
}


@media (max-width: 360px) {
    .game__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .game__range {
        align-self: center;
        text-align: right;
        grid-column: 1 / 3;

    }

    .game__header {
        padding-top: 0px;
        padding-bottom: 10px;

    }

    .game__header button {
        margin-bottom: 20px;
    }

    .game__again {
        grid-column: 1;
        grid-row: 2;
    }

    h1 {
        margin-bottom: 50px;
    }

    .game__summary {
        margin-bottom: 50px;
    }
}